<div class = 'form-group'>
    <%= p.label :code, 'Code' %>
    <%= p.text_field :code, :class => "form-control" %>
</div>
<div class = 'form-group'>
    <%= p.label :shop_name, 'Shop Name' %>
    <%= p.text_field :shop_name, :class => "form-control" %>
</div>
<div class = 'form-group'>
    <%= p.label :retailer_name, "Retailer Name" %>
    <%= p.text_field :retialer_name, :class => "form-control" %>    
</div>
<div class = 'form-group'>
    <%= p.label :mobile_number1, "Mobile Number 1" %>
    <%= p.text_field :mobile_number1, :class => "form-control" %>    
</div>
<div class = 'form-group'>
    <%= p.label :mobile_number2, "Mobile Number 2" %>
    <%= p.text_field :mobile_number2, :class => "form-control" %>    
</div>
<div class = 'form-group'>
    <%= p.label :address, "Address" %>
    <%= p.text_field :address, :class => "form-control" %>    
</div>
<div class = 'form-group'>
    <%= p.label :status, "Status" %>
    <%= p.text_field :status, :class => "form-control" %>    
</div>
    <%= p.submit "submit", :class => 'btn btn-success' %>